<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head data-th-replace="~{rootlayout/fragments :: head}"></head>
  <body>
    <header data-th:fragment="header">
      <div class="header-wrapper">
        <div class="top-header">
          <div class="contact-info">
            <div class="phone-info divider">
              <a href="tel:9033665447">
                <i class="fa fa-phone"></i>
                <span class="text">9033665447</span>
              </a>
            </div>
            <div class="mail-info">
              <a href="mail:akgrouptechnologies@gmail.com">
                <i class="fa fa-envelope"></i>
                <span class="text">akgrouptechnologies@gmail.com</span>
              </a>
            </div>
          </div>
          <div class="cred-redirection">
            <a href="login" class="sign-in divider">SIGN IN</a>
            <a href="#" class="sign-up">SIGN UP</a>
          </div>
        </div>
        <nav class="navbar custom-navbar">
          <a class="navbar-brand" href="index">akgroup</a>
          <div class="navbar-collapse">
            <ul class="navbar-nav nav">
              <li class="nav-item">
                <a href="#home-section" class="nav-link"><span>Home</span></a>
              </li>
              <li class="nav-item">
                <a href="#services-section" class="nav-link"
                  ><span>Services</span></a
                >
              </li>
              <li class="nav-item">
                <a href="#properties-section" class="nav-link"
                  ><span>Listing</span></a
                >
              </li>

              <li class="nav-item">
                <a href="#workflow-section" class="nav-link"
                  ><span>How it works</span></a
                >
              </li>
              <li class="nav-item">
                <a href="#contact-section" class="nav-link"
                  ><span>Contact</span></a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
  </body>
</html>
